	<?xml version="1.0" encoding="UTF-8" ?>
	<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
	<html xmlns="http://www.w3.org/1999/xhtml">
		<head>
			<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
			<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet"/>
			<link href="myibswebsite.css" rel="stylesheet" type="text/css"/>
			
			<title>MyIbsWebsite</title>
		</head>
		
		<body>
			<div class="nav ">
				<div id="header">
					<h1>MyIbsWebsite@cloudcontrolled.com</h1>
				</div>
			</div>
			
			<div class="container">
			<div class="row">
				<div class="col-xs-2">
					<ul class="nav nav-pills nav-stacked">
						<li class="active"><a href="#"><span class="glyphicon glyphicon-home"></span>  Home</a></li>
						<li><a href="#">Über mich</a></li>
						<li><a href="#">Studium</a></li>
						<li><a href="#">WikipediaSuche</a></li>
					</ul>
				</div>
			
				<div class="col-md-9">
					<div class="main">
						<div>
							<p>Diese Webseite wurde erstellt als eine Hausübung der Vorlesung :</p>
							<p>Internetbasierte Systeme der Technischen Hochschule Mittelhessens.</p>
						</div>	
			
						<div >
							<h4>Inhalt:</h4>
								<div>
									<ul>
										<li>Über mich</li>
										<li>Studium</li>
										<li>Barrierefreise Suchen über Wikipedia</li>
									</ul>
								</div>
								<div class="btn-group">
									<button type="button" class="btn-default">Hallo</button>
								</div>
						</div>
					</div>	
				</div>
			</div>
			</div>
			<div class="container">
			<div class="nav">
				<div class="col-xs-2">
					<ul class="list-unstyled">
						<li class="active"><a href="#">Home</a></li>
						<li><a href="#">Kontakt</a></li>
						<li><a href="#">Impressum</a></li>
						<li><a href="#">THM</a></li>
					</ul>
				</div>
			</div>
			</div>
		</body>
	</html>