	<?xml version="1.0" encoding="UTF-8" ?>
	<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
	<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="de" lang="de">
		<head>
			<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
			<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet"/>
			<link href="myibswebsite.css" rel="stylesheet" type="text/css"/>
			
			<title>MyIbsWebsite</title>
		</head>
		
		<body >
			<div class="container" id="start">
				
					<div class="header">
						<img src="https://homepages.thm.de/~hg51/gif/thm.png" alt="Thm Mni Logo" style="float:left"  />					
					<div class="col-xs-6 col-md-8">
					<h1>MyIbsWebsite@cloudcontrolled.com</h1>
					</div>
				</div>
			</div>
			
			<div class="container">
				<div class="row">
					<div class="col-sm-3 col-md-2">
						<ul class="nav nav-pills nav-stacked">
							<li><a href="home.html" target="iframe_haupt"><span class="glyphicon glyphicon-home"></span>  Home</a></li>
							<li><a href="studium.html" target="iframe_haupt">Studium</a></li>
							<li><a href="hausübungibs.html" target="iframe_haupt">Hausübung IBS</a></li>
							<li><a href="Wikisuche.html">WikipediaSuche</a></li>
						</ul>
					</div>
				
					<div class="container-fluid">
						<div class="col-xs-8 ">
							<iframe height="700px" width="100%" src="home.html" name="iframe_haupt" style="border:none" scrolling="no">
							<a href="home.html"></a>				
							</iframe>
						</div>
					</div>
				</div>	
			</div>	
			<div class="container">
			<div class="nav">
				<div class="col-sm-2">
					<ul class="list-unstyled">
						<li><a href="http://www.thm.de/site/" target="_blank">THM</a></li>
						<li><a href="impressum.html" target="iframe_haupt" onclick="window.location.href='#start';">Impressum</a></li>
						<li><a href="#">Datenschutz</a></li>
						
					</ul>
				</div>
			</div>
			</div>
		</body>
	</html>