@CHARSET "UTF-8";
body {
	background-image:url("notebook.png");
}

 h1 {
	color:#4a5c66;
	text-align:center;
	font-family: Lucida Console;
	
}


.header {
	height:80px;
	border-bottom-style: solid;
	border-bottom-color: #4a5c66;
	margin-bottom:10px;
	
}

.header img{
	padding-left: 20px;
	
}

.list-unstyled>li>a{
	color:#4a5c66;
}
.nav li {
	padding-bottom: 5px;
	
}



.nav-stacked {
	color:#ffffff;
	background-color:#4a5c66;
	font-family: Lucida Console;
	
}
.nav-stacked >li>a{
	color:#ffffff;
}

.nav-stacked >li>a:hover {
	
	background-color: black;	
}

 .nav-stacked>li>a:focus{
	background-color: #80ba24;
}

.nav-pills li{
	padding-bottom: 5px;
	
}


.main{
	overflow:auto;
	margin-bottom:10px;
	text-align: left;
	padding-left: 20px;
	padding-top: 20px;
}